export(fluctuating_info, constant_info)

importFrom("MASS", "mvrnorm")

importFrom("grDevices", "hcl")

importFrom("stats", "cor", "rnorm", "sd")

importFrom("utils", "setTxtProgressBar", "txtProgressBar")

importFrom("lattice", "levelplot")

importFrom("grDevices", "colorRampPalette")